body	{
	background-color: beige;
	padding-top: 75px;
}
img	{
	height: 250px;
	width: 250px;
	padding: 20px;

}
p	{
	text-align: center;
}

.but	{
	align-content: center;
	width: 90px;
	height 40px;

}

.box	{
	height: 250px
	width:	250px

.left	{
	float: left;
}
.right	{
	float: right;
}